
.priority-tag {
    padding: 2px 8px;
    border-radius: 3px;
    position: absolute;
    bottom: 8px;
    right: 8px;
    color: black;
    text-transform: uppercase;
  }
  
  .card {
    max-width: calc(25% - 20px);
    margin: 10px;
    display: grid;
    float: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 16px;
  }
  
  
  .issue-summary {
    margin-top: 8px;
    text-align: center;
  }
  
  
  /* Clear floats after every 4 cards */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }