.create-project-container {
    margin: 8rem 4rem 0 4rem;
}
.create-project-title {
    font-size: 24px;
    margin: 20px 20px 40px 20px;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin: 20px;
  }

  .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="date"] {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #1b242a;
    border-radius: 5px;
    font-size: 16px;
    width: 95%;
    background-color: #f5f5f5;
    height: 4vh;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .reset-button {
    border: 2px solid #1b242a;
    background-color: transparent;
    color: #1b242a;
    margin: 30px 20px 0 0;
    width: 10vw;
  }
  
  .create-button {
    background-color: #1b242a;
    color: white;
    border: none;
    margin: 30px 0 0 0;
    width: 10vw;
  }

.error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 4px;
  }
  
  
  