* {
  font-family: sans-serif;
}
.login-page {
  display: flex;
  height: 100vh;
}

.logo-container {
  flex: 40%;
  background-color: #1b242a;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.company-logo {
  width: 20vw;
  margin-top: 2rem;
}

.person-image {
  width: 30vw;
  margin-top: 10rem;
}

.login-form {
  flex: 60%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-button {
  width: 60%;
  height: 8vh;
  padding: 10px;
  background-color: #1b242a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0.5rem;
}

.login-text {
  font-size: 14px;
  margin-top: 1rem;
  color: #ef9168;
}
